* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    background: #f4f4f4;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    color: #242c2e;
    letter-spacing: 0.04em;
    line-height: 1.7em;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

/******************************************
/* HEADER SIZES
******************************************/
/* min font-size */
h1 {
    font-size: 18px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 23px;
    letter-spacing: 0.1em;

    margin-bottom: 5px;
}

h3 {
    font-size: 16px;
    letter-spacing: 0.15em;

    margin-bottom: 24px;
}

h4 {
    font-size: 22px;
    letter-spacing: 0.075em;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    text-decoration: none;
}

h7 {
    font-weight: 600;
    font-size: 18px;

    text-align: center;
    margin-bottom: 16px;
    display: block;
}

h7:hover {
    text-decoration: underline;
}

/******************************************
/* TEXT ALIGNMENT
******************************************/
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/******************************************
/* FONT WEIGHT
******************************************/
.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
}

/******************************************
/* COLORS
******************************************/
/* light cyan, highlight / main color */
.color-1 {
    color: #9cccc2;
}

/* lightest cyan, secondary color */
.color-2 {
    color: #aeccc6;
}

/* dark navy blue, darkest color */
.color-3 {
    color: #242c2e;
}

/* dark navy blue, darkest color */
.background-color-3 {
    background: #242c2e;
}

/* light grey, less important text */
.color-4 {
    color: #969696;
}

/* off white */
.color-5 {
    color: #f4f4f4;
}

/* off white */
.background-color-5 {
    background: #f4f4f4;
}

/* white */
.background-color-6 {
    background: #ffffff;
}

/* #bfbfbf darkest text color*/
/* 7cc2b4 button color */

/******************************************
/* SHADOWS
******************************************/
.text-shadow {
    text-shadow: 0px 2px 4px #4b4b4b;
}

.text-shadow-2 {
    text-shadow: 0px 1px 2px #e9e8e8;
    /* text-shadow: 0px 2px 2px #c8c8c8; */
}

.text-shadow-3 {
    text-shadow: 0px 2px 4px #171717;
}

.box-shadow {
    box-shadow: #5c5c5c 0px 2px 4px;
}

.box-shadow-2 {
    box-shadow: #383838 0 2px 3px;
}

.box-shadow-3 {
    box-shadow: #cfcfcf 0px 1px 4px;
}

.box-shadow-4 {
    box-shadow: #181818 0px 1px 4px
}

/* box-shadow: #232323 0 4px 2px */

/**************************************
/* NAVIGATION BAR
**************************************/
.nav-bar {
    background: #242c2e;
    box-shadow: 0px 2px 10px rgba(50,50,50,0.2);;
}

.nav-container {
    display: flex;  
    justify-content: space-between;
    flex-direction: row;

    margin: 0 8.33%;
}

/* items on the left side of navbar */
.to-left {
    display: flex;
    justify-content: flex-start;
}

.nav-brand, 
.nav-icon {
    display: flex;

    height: 70px;
    width: 120px;
}

/* items on the right side of navbar */
.to-right {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;

    height: 70px;
    max-width: 600px;
    width: 100%;
}

.nav-link, 
.navi {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 

    color: #bfbfbf;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    text-shadow: #000000 0 1px 2px;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav-link:hover {
    color: #9cccc2;
} 

#current-page {
    color: #9cccc2;

    box-shadow: inset 0 -4px 0 0 #9cccc2;
}

/******************************************
/* HAMBURGER MENU ICON
******************************************/
.nav-icon {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: #bfbfbf;
    box-shadow: #000000 0 1px 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.bar2,
.bar3 {
    margin-top: 5px;
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-icon:hover .bar1,
.nav-icon:hover .bar2,
.nav-icon:hover .bar3 {
    background-color: #9cccc2;
}

/* transform hamburger menu to 'X' */
.icon-x .bar1 {
    transform: rotate(-45deg) translate(-3px, 7px);
}

.icon-x .bar2 {
    opacity: 0;
}

.icon-x .bar3 {
    transform: rotate(45deg) translate(-3px, -7px);
}

/******************************************
/* TEXTURE BACKGROUND
******************************************/
.full-view {
    height: 100%;
    overflow: hidden;
}

.texture-background {
    width: 100%;
    height: calc(100% - 70px);
    
    background: linear-gradient(rgba(255,255,255,0.6),
                                 rgba(0,0,0,0.7)),
                url("images/background/texture.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 8.33%;
}

.container-homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/******************************************
/* BUTTON
******************************************/
.button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;

    display: block;
    text-align: center;

    width: 150px;
    padding: 8px;

    color: #f4f4f4;
    background-color: #7cc2b4;

    border-radius: 4px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.my-buttons > *:not(:first-child),
.social-media > *:not(:first-child) {
    margin-left: 12px;
}

.button:hover {
    cursor: pointer;
    box-shadow: #636363 0px 2px 6px 2px;
}

/******************************************
/* HOMEPAGE
******************************************/
.my-buttons, .social-media {
    display: flex;
    flex-direction: row;
}

.social-media {
    position: relative;
    top: 16.66%;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.characteristic-icon {
    color: #aeccc6;
    font-size: 26px;
}

.circle-2 p {
    font-weight: 600;
    text-shadow: 0px 1px 2px #c5c5c5;
}

.social-icon {
    color: #242c2e;
}

.circle:hover {
    box-shadow: #333333 0px 2px 6px 2px;
}

/******************************************
/* PORTFOLIO PAGE
******************************************/
.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio-col {
    flex: 33.33%;
    max-width: 33.33%;
    min-width: 160px;
    padding: 9px;
}

.portfolio-cell {
    color: black;
    display: block;
    height: 100%;
    border-radius: 5px;
}

.description {
    padding: 36px;
    /* box-shadow: #aeccc6 0px 2px 4px; */
}

.box-shadow3 {
    box-shadow: 0px 2px 10px rgba(50,50,50,0.2), 0px -2px 10px rgba(50,50,50,0.2);
}

/******************************************
/* CONTACT PAGE
******************************************/
.content-center {
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
    /* margin: 0 auto; */
}

.content-container {
    margin: 64px 8.33%;
}

.mt-64 {
    margin-top: 64px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 > * {
    margin-bottom: 25px;
}

.m-25 {
    margin-top: 25px;
}

.characteristics {
    display: flex;
    flex-direction: row;

    flex: 100%;
    max-width: 100%;

    justify-content: space-around;
    align-items: center;
    margin: 25px 0;

    box-shadow: 0px 2px 10px rgba(50,50,50,0.2), 0px -2px 10px rgba(50,50,50,0.2);
}

.col-1 {
    flex: 30%;
    max-width: 30%;
    padding-right: 16px;
}

.col-2 {
    flex: 70%;
    max-width: 70%;
    padding: 24px;
    /* background: #d6e1e4; */
    background: #d6e1e4;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .col-1 {
        flex: 100%;
        max-width: 100%;
    }

    .col-2 {
        flex: 100%;
        max-width: 100%;
    }
}

.page-topic {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.padding-1 {
    padding: 64px 0;
}

.contact-cell {
    width: 225px;
    height: 225px;
    border-radius: 5px;

    margin-left: 8px;
    margin-right: 8px;

    /* interior content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* all direct descendants of col-4 and not the last child */
.contact-cell > *:not(:last-child) {
    margin-bottom: 10px;
}

/* CONTACT 3 ICONS */
.circle-3 {
    height: 70px;
    width: 70px;
    border-radius: 70px;

    border: 3.5px solid #aeccc6;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.circle-3 > * {
    color: #aeccc6;
    font-size: 26px;
}

.circle-3:hover {
    cursor: pointer;
    transform: scale(1.08, 1.08);
}

/******************************************
/* FOOTER
******************************************/
footer {
    box-shadow: 0px -5px 10px rgba(50,50,50,0.15);
}

.footer-container {
    padding: 50px 0;
    margin: 0 8.33%;
}

.footer-row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.author-name {
    width: 180px;
}

.footer-links {
    max-width: 550px;
    width: 100%;
}

.footer-link:hover {
    color: #9cccc2;
    text-decoration: underline;
}

.footer-links, .social-media-2 {
    display: flex;
    flex-direction: row;
}

.footer-link-spacing {
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-link, .vertical-line, .legal-stuff {
    color: #9ba6a5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.social-media-2 > *:not(:last-child) {
    margin-right: 16px;
}

.footer-spacing {
    margin-bottom: 16px;
}

/******************************************
/* MEDIA QUERIES
******************************************/
/* NAVIGATION BAR sizing for devices smaller than 700px */
@media screen and (max-width: 700px) {
    .nav-content {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .responsive {
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        z-index: 1;
    }

    .responsive .nav-link {
        background: rgba(36,44,46,0.95);
        padding: 8px;
        border-bottom: solid 1px rgba(174,204,198,0.4);
    }

    #current-page {
        box-shadow: none;
    }
}

@media screen and (max-width: 370px) {
    .social-media {
        justify-content: center;
    }
}

/* HEADER scale font-size */
@media screen and (min-width: 320px) {
    h1 {
        font-size: calc(18px + 14 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h2 {
        font-size: calc(23px + 22 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h4 {
        font-size: calc(22px + 14 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h5 {
        font-size: calc(18px + 2 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h7 {
        font-size: calc(18px + 2 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }
}

/* HEADER max font-size */
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

    h7 {
        font-size: 20px;
    }
}

/* FOOTER flex direction for different footer elements */
@media screen and (max-width: 670px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-links {
        justify-content: space-around;
    }

    .social-media-2 {
        justify-content: center;
    }

    .author-name, .legal-stuff {
        text-align: center;
        margin: 0 auto;
    }

    .footer-row > *:not(:last-child) {
        margin-bottom: 16px;
    }
}

/* PORTFOLIO columns for devices with screen size smaller than 1000px */
@media screen and (max-width: 1000px) {
    .portfolio-col {
        flex: 50%;
        max-width: 50%;
        
    }
}

/* PORTFOLIO columns for devices with screen size smaller than 670px */
@media screen and (max-width: 670px) {
    .portfolio-col {
        flex: 100%;
        max-width: 100%;
        
    }
}

/* CONTACT row direction for devices with screen size smaller than 760px */
@media screen and (max-width: 760px) {
    .row {
        flex-direction: column;
    }

    .row > .contact-cell:not(:last-child) {
        margin-bottom: 36px;
    }
}