* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

/**************************************
/* NAVIGATION BAR
**************************************/
.nav-bar {
    background: #242c2e;
    box-shadow: 0px 15px 15px rgba(50,50,93,0.2),
    0px 5px 10px rgba(0,0,0,0.07);
}

.nav-container {
    display: flex;  
    justify-content: space-between;
    flex-direction: row;

    margin: 0 8.33%;
}

/* items on the left side of navbar */
.to-left {
    display: flex;
    justify-content: flex-start;
}

.nav-brand, 
.nav-icon {
    display: flex;

    height: 70px;
    width: 120px;
}

/* items on the right side of navbar */
.to-right {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;

    height: 70px;
    max-width: 600px;
    width: 100%;
}

.nav-link, 
.navi {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 

    color: #bfbfbf;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    text-shadow: #000000 0 1px 2px;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#current-page {
    color: #9cccc2;

    box-shadow: inset 0 -4px 0 0 #9cccc2;
}

.nav-link:hover {
    color: #9cccc2;
} 

/******************************************
/* HAMBURGER MENU ICON
******************************************/
.nav-icon {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: #bfbfbf;
    box-shadow: #000000 0 1px 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.bar2,
.bar3 {
    margin-top: 5px;
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-icon:hover .bar1,
.nav-icon:hover .bar2,
.nav-icon:hover .bar3 {
    background-color: #9cccc2;
}

/* transform hamburger menu to 'X' */
.icon-x .bar1 {
    transform: rotate(-45deg) translate(-3px, 7px);
}

.icon-x .bar2 {
    opacity: 0;
}

.icon-x .bar3 {
    transform: rotate(45deg) translate(-3px, -7px);
}

/******************************************
/* TEXTURE BACKGROUND
******************************************/
.full-view {
    height: 100%;
    overflow: hidden;
}

.texture-background {
    width: 100%;
    height: calc(100% - 70px);
    
    background: linear-gradient(rgba(255,255,255,0.6),
                                 rgba(0,0,0,0.7)),
                url("images/background/texture.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 8.33%;
}

.container-homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* min font-size */
h1 {
    font-size: 18px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 23px;
    letter-spacing: 0.1em;

    margin-bottom: 5px;
}

h3 {
    font-size: 16px;
    letter-spacing: 0.15em;

    margin-bottom: 24px;
}

h4 {
    font-size: 22px;
    letter-spacing: 0.075em;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
}

.color-1 {
    color: #f4f4f4;
}

.color-2 {
    color: #aeccc6;
}

.color-3 {
    color: #5e5e5e;
}

.color-4 {
    color: #9cccc2;
}

.text-shadow {
    text-shadow: 0px 2px 4px #4b4b4b;
}

.text-shadow-2 {
    text-shadow: 0px 1px 1px #9c9c9c;
}

.box-shadow {
    box-shadow: #5c5c5c 0px 2px 4px;
}

.box-shadow-2 {
    box-shadow: #383838 0 2px 3px;
}

.box-shadow-3 {
    box-shadow: #cfcfcf 0px 1px 4px;
}

/******************************************
/* BUTTON
******************************************/
.button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;

    display: block;
    text-align: center;

    width: 150px;
    padding: 8px;

    color: #f4f4f4;
    background-color: #7cc2b4;

    border-radius: 4px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.my-buttons > *:not(:first-child),
.social-media > *:not(:first-child) {
    margin-left: 12px;
}

.button:hover {
    cursor: pointer;
    box-shadow: #636363 0px 2px 6px 2px;
}

/******************************************
/* HOMEPAGE CONTENT
******************************************/
.my-buttons, .social-media {
    display: flex;
    flex-direction: row;
}

.social-media {
    position: relative;
    top: 16.66%;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: #242c2e;
}

.circle:hover {
    box-shadow: #333333 0px 2px 6px 2px;
}

/******************************************
/* CONTACT PAGE
******************************************/
.background-color-1 {
    background: #f4f4f4;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-topic {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.padding-1 {
    padding: 64px 0;
}

.contact-cell {
    background: #ffffff;

    width: 225px;
    height: 225px;
    border-radius: 5px;

    margin-left: 8px;
    margin-right: 8px;

    /* interior content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* all direct descendants of col-4 and not the last child */
.contact-cell > *:not(:last-child) {
    margin-bottom: 10px;
}

/* CONTACT 3 ICONS */
.circle-3 {
    height: 70px;
    width: 70px;
    border-radius: 70px;

    border: 3.5px solid #aeccc6;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.circle-3 > * {
    color: #aeccc6;
    font-size: 26px;
}

.circle-3:hover {
    cursor: pointer;
    transform: scale(1.08, 1.08);
}

/******************************************
/* MEDIA QUERIES
******************************************/
@media screen and (max-width: 700px) {
    .nav-content {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .responsive {
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        z-index: 1;
    }

    .responsive .nav-link {
        background: rgba(36,44,46,0.95);
        padding: 8px;
        border-bottom: solid 1px rgba(174,204,198,0.4);
    }

    #current-page {
        box-shadow: none;
    }
}

@media screen and (max-width: 370px) {
    .social-media {
        justify-content: center;
    }
}

/* scale font-size */
@media screen and (min-width: 320px) {
    h1 {
        font-size: calc(18px + 14 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h2 {
        font-size: calc(23px + 22 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }

    h4 {
        font-size: calc(22px + 14 * ((100vw - 320px) / 680));
        letter-spacing: 0.1em;
    }
}

/* max font-size */
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}

/* contact page - small screen */
@media screen and (max-width: 760px) {
    .row {
        flex-direction: column;
    }

    .row > .contact-cell:not(:last-child) {
        margin-bottom: 36px;
    }
}